@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Hotel Management System";
}
<h2>@ViewBag.Title</h2>

<br />
<h3>Phase 3: Project & System Analysis & Design Prototype</h3>
<br />
<style>
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}
</style>
<p><strong>A. Project Analysis- How-</strong></p>
<br />
<p>Our project is estimated to cost around $70,000 to $150,000. Hourly pay is between $100-200.</p>
<p>We will have 1 web designer, 1-2 web application programmers, 1 database administrator, and 1 project manager.</p>
<p>Estimated time of completion will be around 3 to 6 months.</p>
<br />

<p><strong>B. System Analysis</strong></p>
<br />
<p>Hotel Activity Diagram:</p>
<img src="~/Images/ActivityDiagram.jpg" width="500" height="470" />
<br />
<br />
<p>Hotel Reservation Sequence Diagram:</p>
<img src="~/Images/HotelResSequence.jpg" width="600" height="500" />
<br />
<br />

<p><strong>C. What are the Major Processes?</strong></p>
<br />
<img src="~/Images/UseCaseDiagram.jpg" width="550" height="600"/>
<br />
<br />

<p><strong>D. File Descriptions</strong></p>
<br />
<p>CustID: Data type: number, field type: number, Primary Key<br /> 
	Name: data type: text<br /> 
	Address: data type: text<br /> 
	Phone Number: data type: number<br /> 
	Check-in date: data type: number<br /> 
	Check-out date: data type: number<br /> </p>
<p><strong>E. File Relationships</strong></p>
<p>Controller: The controller controls the flow the web application as the user interacts with the website. When the user input data into the website, the controller will give the appropriate response to the user. For example the user in the viewing the html file and insert data, the controller will respond that the data has been sent and updates the view for the user.<br /><br />  
	View: The view is the html file that the user will be mostly interacting with. The user will be navigating through the website and typing data into the html file which will go to the database. The view files will mostly be interacting with the controllers to ensure that data that has been sent is saved or changed.<br /><br />  
	Model: This interacts with everything. The model validates the logic flow as well as data validation to ensure that everything is working.<br /><br />  
</p>