@{
    ViewBag.Title = "Hotel Management System";
}
<h2>@ViewBag.Title</h2>

<br />

<h3>Phase 1: Problem Definition Object: Define Your Project</h3>
<br />
<style>
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}
</style>
<p><strong>A. Project Summary</strong></p>
<br />
<p>We are developing a hotel management system. The system should support the hotel with the following processes:</p>
<p>A hotel has a variety of rooms. Some rooms are typical hotel rooms for short stays for guests. Guest rooms can be of different types—for example, rooms could have one queen bed, or two queen beds, or one king bed. In addition, there are several suites, with one bedroom and a king sofabed.</p>
<p>
    Customers make reservations for either type of room ahead of time. When customers make reservations for guest rooms, they must provide the reservation date, number of nights of stay, type of room, and number of people (adults and children).
    The system will also be able to handle cancellations.
</p>
<p>Walk-ins are accepted for guest rooms depending on availability.</p>
<p>When guests check in, they are allotted a room that is available, or the particular room that they reserved.</p>
<p>Whenever guests call for any service request during their stay, the front desk staff should be able to input these requests into the system. Service staff would be immediately alerted as soon as a request is input. Service staff should then use the system to update the status of the request.</p>
<br />

<p><strong>B. The System Setting</strong></p>
<br />
<p>We are servicing the small-scale hotel industry.</p>
<br />

<p><strong>C. Describe the Project Environment</strong></p>
<br />
<p>
    This is a new system that will assist employees simplify guest services.
    As a direct result, it helps the employee focus on the guest rather than the state of the room.
</p>
<br />

<p><strong>D. The System's Description</strong></p>
<br />
<p>
    The system will be web-based with a user interface that allows the user to login to an account to access their corresponding hotel management page.
    Principal inputs will be entered manually by the user in the fields available. In the Reservations tab, data entered in the fields such as guest information, room type, and dates reserved will be automatically stored in the database once the submit button is clicked.
    Users will not have access to the database through the user interface to prevent any potential errors.
    With each database update, calculations for room availability and total price will be shown on the Availability and Invoice tabs respectively.
    Users also have the option to print and/or email reports regarding the reservations.
</p>
<br />

<p><strong>E. What are the Goals for the System?</strong></p>
<br />
<p>
    The goals for the system are to provide ease-of-use, to reduce costs, and to increase productivity. The users should be able to use the system easily; hence the user interface will display groups of data organized into tabs and will have descriptive input fields.
    The system should also provide long term savings by reducing costs due to overhead, labor, and lost sales.
    With automation, paper handling will be eradicated, fewer employees will be needed, and lost sales due to human errors will be eliminated whereby reducing costs.
    The last goal of the system is to increase user productivity. With calculations and automatic updates done at the backend of the system, reports and data are instantly available for the user which allows tasks to be done efficiently.
</p>
<br />

<p><strong>F. Data Gathering Plan</strong></p>
<br />
<p>
    If feasible, a site visit would be done in order to gather data for a system study.
    Since this system is intended for small hotels who are first time users of a hotel management system, a site visit would allow the group members to document the actual step by step process and the data collected in its day to day businesses.
    If a site visit would be deemed expensive and time-consuming, an alternative method for data gathering would be to conduct a survey through email.
</p>

